{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Home
{% endblock %}

{% block header %}
    <h1 class="row"><img class="col s10 offset-s1 m4 offset-m4 responsive-img" src="{{ MEDIA_URL }}logo.png" alt="Arts by Bela logo"></h1>
    <p class="row flow-text">
        Hi, I'm Bela!</br>
        I'm a self-taught concept artist and illustrator.</br>
        You can see some of my artwork by clicking <a href="#!" class="black-text">HERE!</a></br>
        Below you will discover how easy it is to bring your ideas to life.</br>
        <div class="col s4 offset-s4 l2 offset-l5"> 
            <i class="medium material-icons floating-animation">expand_more</i>
            <div id="float-shadow"></div>
        </div>
    </p>
    
{% endblock %}

{% block content %}
    <!-- Commission Instructions -->
    <div class="container">
        <blockquote class="row grey lighten-4">
            <i class="medium material-icons col s3 m2 grey-text text-darken-1">person_add</i>
            <h5 class="col s9 m10 title-font">
                Step 1: <a href="#!" class="black-text">Register</a> to the website!
            </h5>
        </blockquote>
        <blockquote class="row right-align grey lighten-4">
            <i class="medium material-icons col s3 m2 push-s9 push-m10">add_circle_outline</i>
            <h5 class="col s9 m10 title-font pull-s3 pull-m2">
                Step 2:  Click on NEW COMMISSION.
            </h5>
        </blockquote>
        <blockquote class="row grey lighten-4">
            <i class="medium material-icons col s3 m2 amber-text text-accent-3">lightbulb_outline</i>
            <h5 class="col s9 m10 title-font">
                Step 3:  Tell me your ideas.
            </h5>
        </blockquote>
        <blockquote class="row right-align grey lighten-4">
            <i class="medium material-icons col s3 m2 push-s9 push-m10 grey-text text-darken-1">credit_card</i>
            <h5 class="col s9 m10 title-font pull-s3 pull-m2">
                Step 4:  Pay online with your card details.
            </h5>
        </blockquote>
        <blockquote class="row grey lighten-4">
            <i class="medium material-icons col s3 m2 grey-text text-darken-1">comment</i>
            <h5 class="col s9 m10 title-font">
                Step 5:  Give me your comments with WIP.
            </h5>
        </blockquote>
        <blockquote class="row right-align grey lighten-4">
            <i class="medium material-icons col s3 m2 push-s9 push-m10 grey-text text-darken-1">download</i>
            <h5 class="col s9 m10 title-font pull-s3 pull-m2">
                Step 6:  Download and enjoy your artwork.
            </h5>
        </blockquote>
    </div>

    <!-- Quote Calculator -->
    <div class="row amber accent-3">
        <h5 class="col s12 center-align">Prices starting from: <strong id="lowest-price"></strong></h5>
        <div id="calculator-select">
            <h6 class="col s12">
                Update your specifications below. </br>
                Your current quote: <strong id="your-quote"></strong>
            </h6>
            <div class="col s12 m4 input-field">
                <select id="size-select">
                    {% for size in sizes %}
                        <option value="{{ size.size }}">{{ size.size }}</option>
                    {% endfor %}
                </select>
                <label for="size-select" class="black-text">Size</label>
            </div>
            <div class="col s12 m4 input-field">
                <select id="resolution-select">
                    {% for resolution in resolutions %}
                        <option value="{{ resolution.resolution }}">{{ resolution.resolution }}</option>
                    {% endfor %}
                </select>
                <label for="resolution-select" class="black-text">Resolution</label>
            </div>
            <div class="col s12 m4 input-field">
                <input placeholder="0" id="no-characters" type="number" min="0" max="6">
                <label for="no-characters" class="black-text">Number of Characters</label>
                <span class="helper-text">Up to 6 characters</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{{ block.super }}

    {{ json_data|json_script:"json-data" }}

    <script type="text/javascript">
    // Script to dynamically calculate quote price from selected specifications.
        const data = JSON.parse($('#json-data').text());
        var res_price = 0.0;
        var size_price = 0.0;

        $(document).ready(function(){
            $('select').formSelect();
            $('#lowest-price').text(
                `$ ${calculateQuote(
                    data.resolutions[0].price_factor,data.sizes[0].price_factor,0)}!!`);
            $('#your-quote').text(
                `$ ${calculateQuote(
                    data.resolutions[0].price_factor,data.sizes[0].price_factor,0)}!!`);
            $('#calculator-select').children().change(function (){
                res_price = getPriceFactor(
                    data.resolutions, 'resolution', $('.selected').children().last().text());
                size_price = getPriceFactor(
                    data.sizes, 'size', $('.selected').children().first().text());
                $('#your-quote').text(`$ ${calculateQuote(
                    res_price,size_price,$('#no-characters').val())}`);
                }
            );
        });
        
        function calculateQuote(res, sizing, numberCharacters){
            return (5*res*sizing+2*numberCharacters).toFixed(2)
        }

        function getPriceFactor(array, key, selection) {
            // Function to get price factor from the JSON data
            for (item in array) {
                if (key === 'resolution') {
                    if (array[item].resolution === selection) {
                        return array[item].price_factor
                    }
                } else {
                    if (array[item].size === selection) {
                        return array[item].price_factor
                    }
                }
            }
        }
    </script>

{% endblock %}