{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Home
{% endblock %}

{% block header %}
    <h1 class="row"><img class="col s10 offset-s1 m4 offset-m4 responsive-img" src="{{ MEDIA_URL }}logo.png" alt="Arts by Bela logo"></h1>
    <p class="row flow-text">
        Hi, I'm Bela!</br>
        I'm a self-taught concept artist and illustrator.</br>
        You can see some of my artwork by clicking <a href="#!" class="black-text">HERE!</a></br>
        Below you will discover how easy it is to bring your ideas to life.</br>
        <div class="col s4 offset-s4 l2 offset-l5"> 
            <i class="medium material-icons floating-animation">expand_more</i>
            <div id="float-shadow"></div>
        </div>
    </p>
    
{% endblock %}

{% block content %}
    <!-- Commission Instructions -->
    <div class="container">
        <blockquote class="row grey lighten-4">
            <i class="medium material-icons col s3 m2 grey-text text-darken-1">person_add</i>
            <h5 class="col s9 m10 title-font">
                Step 1: <a href="#!" class="black-text">Register</a> to the website!
            </h5>
        </blockquote>
        <blockquote class="row right-align grey lighten-4">
            <i class="medium material-icons col s3 m2 push-s9 push-m10">add_circle_outline</i>
            <h5 class="col s9 m10 title-font pull-s3 pull-m2">
                Step 2:  Click on NEW COMMISSION.
            </h5>
        </blockquote>
        <blockquote class="row grey lighten-4">
            <i class="medium material-icons col s3 m2 amber-text text-accent-3">lightbulb_outline</i>
            <h5 class="col s9 m10 title-font">
                Step 3:  Tell me your ideas.
            </h5>
        </blockquote>
        <blockquote class="row right-align grey lighten-4">
            <i class="medium material-icons col s3 m2 push-s9 push-m10 grey-text text-darken-1">credit_card</i>
            <h5 class="col s9 m10 title-font pull-s3 pull-m2">
                Step 4:  Pay online with your card details.
            </h5>
        </blockquote>
        <blockquote class="row grey lighten-4">
            <i class="medium material-icons col s3 m2 grey-text text-darken-1">comment</i>
            <h5 class="col s9 m10 title-font">
                Step 5:  Give me your comments with WIP.
            </h5>
        </blockquote>
        <blockquote class="row right-align grey lighten-4">
            <i class="medium material-icons col s3 m2 push-s9 push-m10 grey-text text-darken-1">download</i>
            <h5 class="col s9 m10 title-font pull-s3 pull-m2">
                Step 6:  Download and enjoy your artwork.
            </h5>
        </blockquote>
    </div>

    <!-- Quote Calculator -->
    <div class="row amber accent-3">
        <h5 class="col s12 center-align">Prices starting from: <strong id="lowest-price"></strong></h5>
        
        <div class="input-field col s12 m4">
            <select>
                <option value="" disabled selected>Choose your option</option>
                {% for size in sizes %}
                    <option value="{{ size.size }}">{{ size.size }}</option>
                {% endfor %}
            </select>
            <label>Size</label>
        </div>
        <div class="input-field col s12 m4">
            <select>
                <option value="" disabled selected>Choose your option</option>
                {% for resolution in resolutions %}
                    <option value="{{ resolution.resolution }}">{{ resolution.resolution }}</option>
                {% endfor %}
            </select>
            <label>Resolution</label>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
{{ block.super }}

    {{ resolutions_json|json_script:"resolutions-choices" }}
    {{ sizes_json|json_script:"sizes-choices" }}

    <script type="text/javascript">
        const resolutionsChoices = JSON.parse($('#resolutions-choices').text());
        const sizesChoices = JSON.parse($('#sizes-choices').text());
        $(document).ready(function(){
            $('select').formSelect();
            $('#lowest-price').text(
                `$ ${(5*resolutionsChoices[0].price_factor*sizesChoices[0].price_factor).toFixed(2)}!!`
            );
        });
      
    </script>

{% endblock %}