{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Profile | {{ profile.user.username }}
{% endblock %}

{% block header %}
    <h3>Hello {{ profile.user.username }}!</h3>
{% endblock %}

{% block content %}
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_circle</i>Your info</div>
        <form class="collapsible-body" method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
                <div class="row">
                  <div class="input-field col s12 m6">
                    {{ form.first_name }}
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s12 m6">
                    {{ form.last_name }}
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <button type="submit" class="btn waves-effect waves-light black"
                        style="margin: 2px;">
                    Update
                </button>
        </form>
    </li>
    <li class="active">
        <div class="collapsible-header"><i class="material-icons">brush</i>Your commissions</div>
        <span class="collapsible-body">You have no commissions</span>
    </li>
</ul>

<a href="{% url 'new_commission' %}" class="btn waves-effect waves-light black" style="margin: 2px;">
    <i class="material-icons">add</i> <span>New Commission</span>
</a>

{% endblock %}

{% block postload_js %}
{{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}