@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nunito:wght@200;300;400&display=swap');

/* -----  General  ----- */
html {
    font-family: 'Montserrat', sans-serif;
}

.title-font {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

/* -----  Navigation  ----- */
#artist-signature {
    display: inline-block;
    height: 40px;
    position: relative;
    top: 6px;
}

.sidenav li>a {
    margin-bottom: 2vh;
}

.sidenav li:first-child>a {
    height: auto;
    margin-top: 2vh;
    margin-bottom: 8vh;
}

.copyright-text, .copyright-text-mobile {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: small;
    position: fixed;
}

.copyright-text{
    bottom: 50px;
    left: 10px;
}

.copyright-text-mobile {
    bottom: 0px;
    width: 100vw;
    padding: 8px 0px 6px 10px;
}

/* -----  Home Page  ----- */
.floating-animation {
    position: relative;
    animation: floating 2s infinite;
}

#float-shadow {
    height: 20px;
    width: 100%;
    background-image: radial-gradient(#bdbdbd, #eeeeee 40% );
    border-radius: 50%;
}

a.black-text {
    font-weight: 500;
    text-decoration: underline;
}

a.black-text:hover, a.black-text:focus {
    cursor: pointer;
}

/* -----  Media queries  ----- */
@media only screen and (min-width: 993px) {
    main {
        padding-left: 300px;
    }
}

/* -----  Keyframes  ----- */
@keyframes floating {
    0% {bottom: 10px;}
    50% {bottom: 0px;}
    100% {bottom: 10px;}
}