<form class="card-panel grey" method="" action="" enctype="multipart/form-data">
    {% csrf_token %}
        <h5 class="title-font">Upload Illustration</h5>
        <label for="id_wip_illustration" class="btn waves-effect waves-light black">Choose File</label>
        <button type="submit" class="hide btn waves-effect waves-light black right"
            style="margin: 2px;">
            Send for comment
        </button>
        <p></p>
        <img class="hide responsive-img" src="" alt="{{ form.wip_illustration.name }}">
        {{ form.wip_illustration }}
    </form>