{% load inlinecss %}
{% inlinecss 'static/css/base.css' %}

<!DOCTYPE html>
<html lang="en">

<body>
    <h5>Hello {{ commission.user_profile.user.username }},</h5>
    <p>
        The Artist has uploaded the illustration in progress.
    </p>
    <div class="mood-board-image">
        <img src="{{ MEDIA_URL }}{{ wip.wip_illustration.name }}" alt="{{ wip.wip_illustration.name }}">
    </div>
    <p><a href="{{ link_url }}">Click here</a> to see the illustration details and add your comments.</p>
    <p>
        Regards,<br />
        Arts by Bela.
    </p>
</body>
</html>
{% endinlinecss %}