{% extends "base.html" %}
{% load static %}
{% load split_filter %}

{% block extra_title %}
    Artwork | {{ commission.order_number}}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet"
        href="{% static 'commissions/css/mood_board_collapsible.css' %}">
{% endblock %}

{% block header %}
    <h3>Commission in progress</h3>
{% endblock %}

{% block content %}
    <!-- Commission content -->
    {% include 'commissions/includes/commission_details.html' %}

    <!-- WIP content -->
    {% include 'commissions/includes/progress_details.html' %}

    <!-- Artwork forms -->
    <div class="row">
        <div class="col s12">
            {% if not artwork.final_illustration %}
                {% if request.user.is_superuser %}
                    {% include 'commissions/includes/upload_illustration_form.html' %}
                {% else %}
                    <h5 class="title-font">
                        <i class="material-icons">brush</i> The artist is working on your illustration. 
                    </h5>
                {% endif %}
            {% else %}
                <div class="card-panel grey">
                    <h5 class="title-font">Uploaded Illustration</h5>
                    <p>File Name: {{ artwork.final_illustration.name|split:"/"|last }} </p>
                    <img class="responsive-img" src="{{ MEDIA_URL }}{{ artwork.final_illustration.name }}" alt="{{ artwork.final_illustration.name }}">
                    {% if not request.user.is_superuser and not artwork.client_review %}
                          <form class="row" method="POST" action="{% url 'artwork' commission.id %}">
                            {% csrf_token %}
                            <p>I would love to hear what you think of my work. Please leave a review below.</p>
                            <div class="input-field col s12 white z-depth-1">
                                {{ form_comment.comment }}
                                <label for="id_comment">Review</label>
                            </div>
                            <button type="submit" class="btn waves-effect waves-light black"
                                style="margin: 2px;">
                                Submit Review
                            </button>
                        </form>
                    {% elif artwork.client_review %}
                        <h5>Client Review</h5>
                        <blockquote>
                            "{{ artwork.client_review }}" <br>
                            <i>- {{ commission.user_profile.user }}</i>
                        </blockquote>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="{% url 'profile' %}" class="btn waves-effect waves-light red" style="margin: 2px;">Return to Profile</a>
        </div>
    </div>
{% endblock%}

{% block postload_js %}
{{ block.super }}  
    <script src="{% static 'commissions/js/single_image_preview.js' %}"></script>
{% endblock %}